.friends-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4; /* Set background color */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
  }
  
  .friends-container p {
    font-size: 16px;
  }

  .loading-message {
    font-size: 18px;
    color: gray;
  }