.single-friend-split {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.single-friend-split.hover {
    background-color: grey;
}

.split-link {
    text-decoration: none;
    color: black; /* Change color as desired */
}

.split-name {
    font-weight: bold;
    margin: 0;
}

.split-line {
    margin: 0;
}

.split-line.red {
    color: red;
}

.split-line.green {
    color: green;
}

.split-time {
    margin: 0;
}
