.message-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4; /* Set background color */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
  }
  
  .message {
    font-size: 18px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px; /* Add margin-right for spacing between buttons */
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .edit-split-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4; /* Set background color */
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
  }
  .edit-split-container form p {
    color: red;
    margin-top: 5px;
}
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .checkbox-container {
    margin-bottom: 10px;
  }
  
  .loading-message {
    text-align: center;
  }
  